<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NHSdwnlds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NHSdwnlds.Properties.Settings>
            <setting name="dirName" serializeAs="String">
                <value>downloads</value>
            </setting>
            <setting name="link2add" serializeAs="String">
                <value>http://datagov.ic.nhs.uk/T201202ADD%20REXT.CSV</value>
            </setting>
            <setting name="link2pdp" serializeAs="String">
                <value>http://datagov.ic.nhs.uk/T201109PDP%20IEXT.CSV</value>
            </setting>
            <setting name="dirNameXML" serializeAs="String">
                <value>xmls</value>
            </setting>
            <setting name="readingBuffer" serializeAs="String">
                <value>50000</value>
            </setting>
        </NHSdwnlds.Properties.Settings>
    </userSettings>
</configuration>